.login-button {
  display: flex;
  justify-content: flex-end;
  /* 커서 올리면 손가락 모양뜨게하기 */
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  justify-content: flex-end;
}

.card-detail:hover img {
  transform: scale(1.1);
}
.img {
  width: 310px;
  overflow: hidden;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
