.login-button {
  display: flex;
  justify-content: flex-end;
  /* 커서 올리면 손가락 모양뜨게하기 */
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  /* display: flex;
  justify-content: center; */
  position: relative;
}

.search-area {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.card-detail:hover img {
  transform: scale(1.1);
}
.img {
  width: 310px;
  overflow: hidden;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
/* 
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
} */

/* max-width 값을 설정하면 가로가 설정한 값 이하로 떨어졌을때 해당 css가 적용 */
@media screen and (max-width: 600px) {
  .sideBar {
    width: 0px;
    display: none; /* 모바일 화면에서 사이드바 숨기기 */
  }
  .sideBarOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  /* 모바일 화면에서의 다른 스타일들 */
  .navItem,
  .subNavItem {
    padding: 10px;
    font-size: 0.8em;
  }
}
